<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset class="border p-2">
        <legend class="w-auto"></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
            {% if question.choice_set.all %}
                <input class="btn btn-primary" type="submit" value="Vote">
            {% else %}
                <p>Add some choices!</p>
            {% endif %}
    </fieldset>
    <br>
</form>
