{% extends 'polls/base.html' %}
{% block title %}Create New List{% endblock %}

{% block sidebar %}
    {% if latest_question_list %}
        <div class="row">
            {% for question in latest_question_list %}
                <div class="col-sm-6">
                    <div class="card">

                    <!-- -------------Header----------------- -->
                        <div class="card-header">
                            <h4 class="text-center">{{ question.question_text }}</h4>
                            <ul class="nav nav-tabs card-header-tabs justify-content-center">
                                <li class="nav-item">
                                    <a id="nav-polls" class="nav-link" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                        Polls
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a id="nav-vote" class="nav-link" onclick="$('#Vote').toggle();$('#Polls').attr('Style','display: none;');$('#nav-vote').toggleClass('active');$('#nav-polls').removeClass('active')">
                                        Vote
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <!-- -------------Header----------------- -->

                    <!-- ------------- Poll Card----------------- -->
                        <div id="Polls" class="card-body" style="display: none">
                            <fieldset class="border p-2">
                                <legend class="w-auto"></legend>
                                <ul>
                                    {% for choice in question.choice_set.all %}
                                        <li>{{ choice.votes }} vote{{ choice.votes|pluralize }} -- {{ choice.choice_text }}</li>
                                    {% endfor %}
                                </ul>
                            </fieldset>
                            <a onclick="$('#Vote').toggle();$('#Polls').attr('Style','display: none;');$('#nav-vote').toggleClass('active');$('#nav-polls').removeClass('active')">
                                Vote again?
                            </a>
                        </div>
                    <!-- ------------- Poll Card----------------- -->

                    <!-- ------------- Vote Card----------------- -->
                        <div id="Vote" class="card-body" style="display: none">
                            <form action="{% url 'polls:vote' question.id %}" method="post">
                                {% csrf_token %}
                                <fieldset class="border p-2">
                                    <legend class="w-auto"></legend>
                                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                            {% for choice in question.choice_set.all %}
                                                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                            {% endfor %}
                                        <br>
                                        {% if question.choice_set.all %}
                                            <input class="btn btn-primary" type="submit" value="Vote" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                        {% else %}
                                            <p>Add some choices!</p>
                                        {% endif %}
                                </fieldset>
                                <br>
                            </form>
                            <div class="addChoice row justify-content-center">
                                <form action="{% url 'polls:vote' question.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="newChoice">
                                    <button class="btn btn-primary" type="submit" name="addChoice" value="addChoice" href="#Polls" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                        Add Choices
                                    </button>
                                </form>
                                <form action="{% url 'polls:delete' question.id %}" method="post">
                                    {% csrf_token %}
                                    <button action="{% url 'polls:delete' question.id %}" method="post" type="submit" name='delete' value='delete'>
                                        Delete Question
                                    </button>
                                </form>
                            </div>
                        </div>
                    <!-- ------------- Vote Card----------------- -->

                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <a href="{% url 'polls:all' %}">Show More</a>
        <br>
    {% elif all_questions %}
        <div class="row">
            {% for question in all_questions %}
            <div class="col-sm-6">
                <div class="card text-center">

                <!-- -------------Header----------------- -->
                    <div class="card-header">
                        <h4>{{ question.question_text }}</h4>
                        <ul class="nav nav-tabs card-header-tabs justify-content-center">
                            <li class="nav-item">
                                <a id="nav-polls" class="nav-link" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                    Polls
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="nav-vote" class="nav-link" onclick="$('#Vote').toggle();$('#Polls').attr('Style','display: none;');$('#nav-vote').toggleClass('active');$('#nav-polls').removeClass('active')">
                                    Vote
                                </a>
                            </li>
                        </ul>
                    </div>
                <!-- -------------Header----------------- -->

                <!-- ------------- Poll Card----------------- -->
                    <div id="Polls" class="card-body" style="display: none">
                        <fieldset class="border p-2">
                            <legend class="w-auto"></legend>
                            <ul>
                                {% for choice in question.choice_set.all %}
                                    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                        <a href="#Vote" onclick="$('#Vote').toggle();$('#Polls').attr('Style','display: none;');$('#nav-vote').toggleClass('active');$('#nav-polls').removeClass('active')">
                            Vote again?
                        </a>
                    </div>
                <!-- ------------- Poll Card----------------- -->

                <!-- ------------- Vote Card----------------- -->
                    <div id="Vote" class="card-body" style="display: none">
                        <form action="{% url 'polls:vote' question.id %}" method="post">
                            {% csrf_token %}
                            <fieldset class="border p-2">
                                <legend class="w-auto"></legend>
                                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                        {% for choice in question.choice_set.all %}
                                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                        {% endfor %}
                                    <br>
                                    {% if question.choice_set.all %}
                                        <input class="btn btn-primary" type="submit" value="Vote" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                    {% else %}
                                        <p>Add some choices!</p>
                                    {% endif %}
                            </fieldset>
                            <br>
                        </form>
                        <div class="addChoice row justify-content-center">
                            <form action="{% url 'polls:vote' question.id %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="newChoice">
                                <button class="btn btn-primary" type="submit" name="addChoice" value="addChoice" href="#Polls" onclick="$('#Polls').toggle();$('#Vote').attr('Style','display: none;');$('#nav-polls').toggleClass('active');$('#nav-vote').removeClass('active')">
                                    Add Choices
                                </button>
                            </form>
                            <form action="{% url 'polls:delete' question.id %}" method="post">
                                {% csrf_token %}
                                <button action="{% url 'polls:delete' question.id %}" method="post" type="submit" name='delete' value='delete'>
                                    Delete Question
                                </button>
                            </form>
                        </div>
                    </div>
                <!-- ------------- Vote Card----------------- -->

                </div>
            </div>
        {% endfor %}
        </div>
        <br>
        <a href="{% url 'polls:index' %}">Show Less</a>
        <br>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    <br>
{% endblock %}
